.fields.input {
    flex-direction: column;
}

.field-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    color: hsl(213, 96%, 18%);
    font-weight: bolder;
    font-size: 1em;
}

p.error {
    color: red;
    text-align: end;
    margin: 0;
}

input {
    font-size: 1.25em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(231, 11%, 63%);
    margin-bottom: 5%;
}

input.error {
    border: 1px solid red;
}

.button-container.single {
    justify-content: end;
}